


.thank__you span i{
    font-size: 4rem;
    color: #ff8c6b;
}

.thank__you h1 {
    color: #ff8c6b;

}
.thank__you h3 {
    color: #ff8c6b;
}

.thank__you .btn-thank-you {
    background-color: #ff8c6b;
    color: #fff;
    border: 1px solid #ff8c6b;
}

.thank__you .btn-thank-you:hover {
    background-color: #ff8c6b;
    color: #fff;
    border: 1px solid #ff8c6b;
}

.thank__you .btn-thank-you a:hover {
    background-color: #ff8c6b;
    color: #fff;
}