.edit__user{
    background-color: #ecf0f1;
    height: calc(100vh - 70px);
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2rem;
    .ProductAdd__content{
        padding: 1rem;
        background-color: #fff;
        .title__addProduct{
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            text-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
        }
    }
    .content__form{
        display: flex;
        overflow: auto;
        .img{
            flex: 2;
            padding: 0 2rem;
        }
        .form__input{
            flex: 4;
        }
        .form__input{
            display: grid;
            margin: 0 1rem;
            grid-template-columns: repeat(2,1fr);
        }
    }

    .ProductAdd__left{
        padding: 0 1rem;
    }
    .ProductAdd__right{
        padding: 0 1rem;
    }
    .from__group > label {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
    } 
    .from__group{
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
    }
    .from__group > label > span{
        color: red;
        font-weight: 400;
        font-size: .8rem;
        margin: 0 1rem; 
    }
    .from__img {
        text-align: center;
        margin: 0 1rem;
    }
    .from__img > img{
        background-color: #bdc3c7;
        padding: .2rem;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
    }
    .from__group > input {
        margin: .5rem 0;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        outline: none;
        padding: .5rem .5rem;
    }
    .from__group > textarea{
        margin: .5rem 0;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        outline: none;
        padding: .5rem .5rem;
    }
    .from__group > select{
        margin: .5rem 0;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        outline: none;
        padding: .5rem .5rem;
    }
    .btn__group {
        text-align: center;
    }
    .btn__group > input {
        border: none;
        border-radius: 5px;
        background: #0fbcf9;
        color: #fff;
        margin: 2rem .7rem;
        padding: .3rem .8rem;
    } 
    // .btn__group > input:last-child{
    //     background: #bdc3c7;
    // }
    .btn__group > input:hover{
        background-color: orange;
        transform: scale(1.1);
    }
}
@media only screen and (max-width: 768px) {
    .edit__user{
        height: 100%;
        .ProductAdd__content{
            max-width: 700px;
        }
        .content__form{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 1rem;
        }
    }
  }