.slider-Form {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin: auto;
    overflow: hidden;
}


.imageForm {
    width: 100%;
    height: 100%;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;   
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;   
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slider {
    transition-duration: 1s ease;
}

.slider .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media (max-width: 850px) {
    .slider-Form {
        position: relative;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        margin: auto;
        overflow: hidden;
    }
}