.TopBtn {
    position: fixed;
    z-index: 20;
    right: 0;
    bottom: 50px;
    margin-top: -5rem;
    margin-right: 1rem;
    padding: 0.8rem;
    border: none;
    background-color: yellow;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 100%;
}