.sup_content {
    border: 1px solid var(--primary-color);
    height: 230px;
    text-align: center;
    padding: 30px 15px;
    margin: 25px auto;
    border-radius: 5px;
    
}

.sup_content img {
    width: 17%;
    margin-bottom: 25px;
}

.sup_content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}